<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../images/icon.png" type="image/x-icon">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="../style/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <title>Animalaria | Contacto</title>
</head>



<body class="d-flex flex-column">
  <div id="app">
    <header>
      <nav class="navbar navbar-expand-lg bg-dark border-bottom border-bottom-dark p-0" data-bs-theme="dark"
        id="nav-main">
        <div class="container-fluid nav-estilo d-flex justify-content-between">
          <a class="navbar-brand" href="../../index.html"><img src="../images/logo_animalaria.png" alt="logo"
              class="img-logo rounded-4"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav d-flex justify-content-end w-100">
              <a class="nav-link" aria-current="page" href="../../index.html">HOME</a>
              <a class="nav-link" href="./farmacia.html">FARMACIA</a>
              <a class="nav-link" href="./juguetes.html">JUGUETES</a>
              <a class="nav-link active fw-bolder" href="#">CONTACTO</a>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main class="flex-grow-1 ">

      <section>
        <h1 style="text-align: center">Contáctanos</h1>
      </section>

      <form @submit.prevent="validateForm" class="container col-md-8">
        <div class="contactForm">
          <div class="mb-3">
            <label for="nombreCliente" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombreCliente" placeholder="Nombre" v-model="formData.name">
          </div>
          <div class="mb-3">
            <label for="apellidosCliente" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="apellidosCliente" placeholder="Apellidos">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              placeholder="Email">
          </div>
          <div class="mb-3">
            <label for="telefono" class="form-label">Telefono</label>
            <input type="tel" class="form-control" id="telefono" placeholder="Teléfono">
          </div>

          <p class="text-center">Selecciona tu tipo de Mascota</p>
          <div class="form-check d-flex justify-content-center">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="perro">
            <label class="form-check-label" for="perro">
              Perro
            </label>
          </div>

          <div class="form-check d-flex justify-content-center">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="gato">
            <label class="form-check-label" for="gato">
              Gato
            </label>
          </div>
          <div class="form-check d-flex justify-content-center">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="gato">
            <label class="form-check-label" for="gato">
              Otro
            </label>
          </div>

          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Déjanos un Comentario</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
              placeholder="Pon tu huellita aquí"></textarea>
          </div>

          <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"
            id="btnContact"> Enviar </button>
        </div>

      </form>

      <div class="modal fade" id="exampleModalCenter" v-if="showModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">¡Gracias por Ponerte en Contacto, {{
                formData.name }}!
              </h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="modalBody">
              <img src="../images/check-mark.png" alt="Checked" style="height: 3rem;">
              <p>Tu Información ha sido Enviada</p>
              <p>Pronto nos comunicaremos contigo.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnContact">Close</button>
            </div>
          </div>
        </div>
      </div>


      <div class="d-flex justify-content-center">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.243216152202!2d-58.403770324512834!3d-34.59801085719627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca9158e82c41%3A0x6a1cd58fa7e6383d!2sParaguay%202334%205%20f%2C%20C1121ABL%20CABA%2C%20Argentina!5e0!3m2!1ses-419!2sco!4v1690315372983!5m2!1ses-419!2sco"
          frameborder="0" style="border:0"></iframe>
      </div>

      <div class="shoppingCart">
        <button class="btn btn-danger" type="button" @click="toggleCart" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" id="buttonCart">
          <i class="fas fa-shopping-cart"></i></button>

        <!-- <template v-show="isCartOpen"> -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel"
          v-show="isCartOpen">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasRightLabel">Tu Carrito de Compras</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">

            <template v-if="cartItems.length > 0" v-for="item in cartItems" :key="item.id">
              <ul>
                <li>
                  {{ item.producto }} - ${{ item.precio }} (Cantidad: {{ item.quantity }}) -
                  <button class="btn btn-sm" @click="removeFromCart(item)" id="btnRemover">Remover</button>
                </li>
              </ul>
            </template>
            <template v-else>
              <p>No hay nada en el carrito</p>
            </template>
            <button class="btn btn-sm" @click="clearCart" id="btnVaciar">Vaciar Carrito</button>


          </div>
        </div>
        <!-- </template> -->
      </div>

    </main>
  </div>

  <footer>
    <section class="container align-items-center d-flex justify-content-around flex-wrap gap-2 align-items-center p-2">
      <nav class="gap-5">
        <a href="https://web.whatsapp.com/"><img class="img-redes" src="../images/wpp.png" alt="whatsapp"
            title="Whatsapp"></a>
        <a href="https://es-la.facebook.com/"><img class="img-redes" src="../images/facebook.png" alt="facebook"
            title="Facebook"></a>
        <a href="https://www.instagram.com/"><img class="img-redes" src="../images/instagram.png" alt="instagram"
            title="Instagramp"></a>
      </nav>
      <small class="text-light">Derechos de página reservados - Animalaria</small>
      <h5 class="text-light">Cohort - 49</h5>
    </section>
  </footer>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="../scripts/contacto.js"></script>
  <script src="../scripts/main.js"></script>

</body>

</html>